extends template/layouts_page
block var
    - var page = 'production'

block content
    +banner_header(company_slider)
    .content_page_wrapper
       .company_text
           p В настоящее время ассортимент фабрики насчитывает 11 различных коллекций мозаики из стекла, натурального мрамора, оникса и смальты.
           p И это не предел – мы непрерывно обновляем, дополняем существующие коллекции и создаем новые с учетом современных тенденций в архитектуре и дизайне. Новейшие технологии производства позволяют нам отвечать любым требованиям даже самого взыскательного потребителя
           p На базе фабрики была основана крупнейшая мозаичная студия Art&Natura, профессиональные мастера которой готовы создать для Вас эксклюзивное изделие из стеклянной  и каменной мозаики
    +banner_header(company_slider2)
    .content_page_wrapper
        .company_text_img
            .item
                img(src="images/about/about_text1.png")
                .item--text
                    p Мы готовы рассмотреть возможность изготовления любого изделия, в том числе:
                    ul
                        li мозаичные смеси
                        li растяжки
                        li матричное панно
                        li художественное панно и много другое
                    p Кроме того, студией Art&Natura была разработана и создана целая коллекция зеркал ручной работы. С исключительным уважением Ваших пожеланий, профессионализмом, многолетним мастерством и бесконечной любовью  к мозаике – только так рождаются шедевры Art&Natura

            .item
                img(src="images/about/about_text1.png")
                .item--text
                    p Вы можете заказать у нас панно, орнамент, микс  или растяжку из всех видов мозаики, будь то  натуральный камень, смальта, стекло либо керамика
                    p Наши мозаичные панно украшают интерьеры и фасады, заметно выделяя их на фоне других зданий. Бассейны  и хамамы, оформленные в технике мозаики, обретают утонченность античной роскоши.
        img.company--img(src="images/about/about_people.png")

    .company_banner_target
        .company_banner_target--title Миссия
        img.company_banner_target--img(src="images/about/about_target.png")

        .item-wrapper
            .item
                .item--title Качество
                p.item--text Современные технологии  и постоянный контроль за процессом производства позволяют нам производить материал, достойный самого взыскательного потребителя
            .item
                .item--title Эстетика
                p.item--text В разработке новых коллекций Art&Natura участвуют как молодые,  так и опытные дизайнеры, поэтому наша мозаика успешно участвует  в проектах любого направления:  от классики до хай-тек
            .item
                .item--title Экологичность
                p.item--text Мы думаем об окружающей среде, поэтому в производстве мозаики мы используем только экологически чистые материалы и природное сырье. Выбирая мозаику Art&Natura, вы получаете экологичный, качественный материал, зарекомендовавший себя во всем мире и отвечающий последним вееньям стиля

    .content_page_wrapper
        .company_peoples
            .company_peoples--title Наша команда
            .company_peoples_wrapper
                each people in company_people
                    .item
                        img(src=people.img)
                        .item--title=people.title
                        p.item--text=people.desc