extends template/layouts_page
block var
    - var page = 'production'

block content
    +banner_headerpage('Создавай вместе с нами', "/images/use_with_our.png", "/images/use_with_our.png", 'Приглашаем к сотрудничеству дизайнеров,', 'архитекторов, дизайн-студии и архитектурные бюро')
    .content_page_wrapper
        +breadcrumbs('black')
        .cooperate_text
            .item
                .item--number 1
                .item--title Эксклюзивные коллекции на складе
                p.item--text Ассортимент товаров насчитывает более 20 000 наименований. Мы тесно и на постоянной основе сотрудничаем с фабриками из Италии, Испании  и Португалии. Вы точно найдете у нас материал  высочайшего качества, который подойдет  именно Вашему проекту

            .item
                .item--number 2
                .item--title Шоу-рум  более 1000 кв.м
                p.item--text Двери нашего шоурума всегда открыты для Вас  и Вашего заказчика. По предварительному звонку Вы можете приехать к нам и выбрать материал  для проекта (керамогранит, плитку, мозаику, сантехнику). Комфортные переговорные также  к вашим услугам. Наши менеджеры с радостью помогут сделать выбор, а также создать 3D-визуализацию

            .item
                .item--number 3
                .item--title Гибкие цены  и выгодные условия
                p.item--text Проценты бонуса устанавливаются индивидуально и увеличиваются  в зависимости от суммы заказов

            .item
                .item--number 4
                .item--title Конкурсы, призы, семинары  и мастер-классы
                p.item--text Топовые дизайнеры, архитекторы, представители фабрик – наши постоянные гости. Мы регулярно проводим лекции, семинары и мастер-классы, знакомим с новинками фабрик. Ежеквартально организуем конкурсы с ценными призами  и подарками, а также поездками на фабрики в Европу

            .item
                .item--number 5
                .item--title Промо: образцы и каталоги,  размещение на сайте
                p.item--text Мы обеспечиваем вас необходимыми рекламными материалами, образцами и каталогами.  С разрешения заказчика с удовольствием организуем профессиональную фотосессию  и разместим на сайте Ваши реализованные проекты с нашим материалом
        +feedback()
        h3.help__group-title Материалы для загрузки
        .row
                +help_item('pdf', 'Каталог продукции')
                +help_item('doc', 'Условия сотрудничества')
                +help_item('xls', 'Прайс-лист')
                +help_item('xls', 'Прайс-лист')