extends template/layouts_page

block var
  - var page = 'production'
  mixin event()
    .events_item
      img.events_item--img(src='../images/main-two.png')
      .events_item_block
        .events_item_block--title Открытие щоу-рума в Москве
        p.events_item_block--text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem.
        p.events_item_block--h3 Casa de la Rosa
        p.events_item_block--adres Москва, Комсомольский проспект, 41
        .events_item_block--date_time
          .date 16 августа 2018
          .time 14:00
        a.events_item_block--link(href="#") смотреть фото
block content
  .content_page_wrapper
    +breadcrumbs('black')
    .h2--bordered Мероприятия
    .events
      each val in [1, 2]
        +event()
      .header-3 Прошедшие
      each val in [1, 2,3,4]
        +event()

      +pagination()