extends template/layout
block var
  - var page = 'index'

block content
  +indexslider()
  +block_first()
  +block_two()
  +block_free()
  +block_fo()
  +block_five()
  +block_six()
  +mobile_block()
 



