
mixin productios()
    .productions
        .productions-item
            img.productions-item-img(src="images/productions/production-one.png")
            .productions-item-title Мозаика из камня
            .productions-item-block
                .item
                        img.item-img(src="images/productions/product-1.png")
                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
                .item

                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
                        img.item-img(src="images/productions/product-2.png")
                .item
                        img.item-img(src="images/productions/product-3.png")
                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
        .productions-item
            img.productions-item-img(src="images/productions/production-two.png")
            .productions-item-title Мозаика из камня
            .productions-item-block
                    .item

                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
                        img.item-img(src="images/productions/product-4.png")
                    .item
                        img.item-img(src="images/productions/product-5.png")
                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию

                    .item

                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
                        img.item-img(src="images/productions/product-6.png")
                    .item
                        img.item-img(src="images/productions/product-7.png")
                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
                    .item

                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
                        img.item-img(src="images/productions/product-8.png")
        .productions-item
            img.productions-item-img(src="images/productions/production-free.png")
            .productions-item-title Мозаика из камня
            .productions-item-block

                    .item
                        img.item-img(src="images/productions/product-9.png")
                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
                    .item

                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
                        img.item-img(src="images/productions/product-10.png")
                    .item
                        img.item-img(src="images/productions/product-11.png")
                        .item-product
                            .item-product-title Marble
                            .item-product-text Marble Mosaic от Art&Natura – это мириады роскошных оттенков натурального мрамора, травертина и оникса. Мозаика, которая к лицу любому интерьеру. Art&Natura – мозаика на века
                            a.item-product-link(href="category.html") смотреть коллекцию
    +open_catalog()
