mixin category_product()
  .category_products-item
    .category_products-item-wrapper
      img.category_products-item-wrapper-img(src="/images/productions/product-1.png")
      .category_products-item-wrapper-title MS 1
      .category_products-item-wrapper-button(data-link="m-product") быстрый просмотр
    a.category_products-item-title(href="product.html") MS 1