mixin product_description()
    .product_description
        .product_description-data
            h2.product_description-data-title MS 9
            p.product_description-data-category Murano Specchio
            p.product_description-data-text Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet
            .product_description-data-options
                .product_description-data-options-item
                    .product_description-data-options-item-label Материал:
                    .product_description-data-options-item-text Стекло
                .product_description-data-options-item
                    .product_description-data-options-item-label Материал:
                    .product_description-data-options-item-text Стекло
                .product_description-data-options-item
                    .product_description-data-options-item-label Материал:
                    .product_description-data-options-item-text Стекло
                .product_description-data-options-item
                    .product_description-data-options-item-label Материал:
                    .product_description-data-options-item-text Стекло
                .product_description-data-options-item
                    .product_description-data-options-item-label Материал:
                    .product_description-data-options-item-text Стекло
                .product_description-data-options-item
                    .product_description-data-options-item-label Материал:
                    .product_description-data-options-item-text Стекло
        .product_description-mobile
            h2.product_description-mobile-title MS 9
            p.product_description-mobile-category Murano Specchio
        .product_description-cart
            .product_description-cart-wrapper
                .product_description-cart-wrapper-price 12 390 р

                .product_description-cart-wrapper-quanyty
                    .product_description-cart-wrapper-quanyty-min
                    .product_description-cart-wrapper-quanyty-text 1.45 кв. м.
                    .product_description-cart-wrapper-quanyty-plus
                button.product_description-cart-wrapper-by.form__button.form__button--cart В корзину


mixin product_slider()
    .product_slider
        .item
            img(src="/images/slider.png")
        .item
            img(src="/images/slider.png")
mixin products_slider()
    .products_slider
        .item
            img(src="/images/slider.png")
            a.item-title MS 11
        .item
            img(src="/images/slider.png")
            a.item-title MS 11
        .item
            img(src="/images/slider.png")
            a.item-title MS 11
        .item
            img(src="/images/slider.png")
            a.item-title MS 11