mixin houses()
  .houses_wrapper
    .houses_wrapper-title Помещения
    .block
      .block-wrapper
        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery.png")
          .block-item__title Ванные
      .block-wrapper
        a.block-item(href="gallery_page.html")
          img.block-item__img(src="/images/gallery/gallery-1.png")
          .block-item__title Кухни
      .block-wrapper
        a.block-item(href="gallery_page.html")
          img.block-item__img(src="/images/gallery/gallery-2.png")
          .block-item__title Гостиные
      .block-wrapper
        a.block-item(href="gallery_page.html")
          img.block-item__img(src="/images/gallery/gallery-3.png")
          .block-item__title Коммерческие помещения
      .block-wrapper
        a.block-item(href="gallery_page.html")
          img.block-item__img(src="/images/gallery/gallery-4.png")
          .block-item__title Бассейны
      .block-wrapper
        a.block-item(href="gallery_page.html")
          img.block-item__img(src="/images/gallery/gallery-5.png")
          .block-item__title Хамамы
mixin gallery_page()
  .houses_wrapper
    .block

        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery.png")
          .block-item__title

        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery-1.png")
          .block-item__title

        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery-2.png")
          .block-item__title

        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery-3.png")
          .block-item__title

        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery-4.png")
          .block-item__title

        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery-5.png")
          .block-item__title
mixin material()
  .materials_wrapper
    .materials_wrapper-title Материалы
    .block

        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery.png")
          .block-item__title Ванные

        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery-1.png")
          .block-item__title Кухни

        a.block-item(href="#")
          img.block-item__img(src="/images/gallery/gallery-2.png")
          .block-item__title Гостиные
mixin collection()
  .collections_wrapper
    .materials_wrapper-title Коллекции
    .block

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-1.png")
          .block-item__title Ванные

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-2.png")
          .block-item__title Кухни

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-3.png")
          .block-item__title Гостиные

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-1.png")
          .block-item__title Ванные

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-2.png")
          .block-item__title Кухни

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-3.png")
          .block-item__title Гостиные

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-1.png")
          .block-item__title Ванные

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-2.png")
          .block-item__title Кухни

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-3.png")
          .block-item__title Гостиные

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-1.png")
          .block-item__title Ванные

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-2.png")
          .block-item__title Кухни

        a.block-item(href="#")
          img.block-item__img(src="/images/productions/product-3.png")
          .block-item__title Гостиные