
mixin indexslider()
    .index__slider
        .item
            img.item_img(src="/images/slider.png")
            .item_block_center
                .item_block_center-title Murano specchio
                a.item_block_center-little-title(href="category.html") смотреть коллекцию
            .item_block_left
                    .item_block_left-title Ванные комнаты
                    a.item_block_left-link(href="#") открыть галерею
            .item_block_down
                a(href="#main-one")
                    img.item_block_down-img(src="/images/slider-button-down.png")
            .item_block_right
                        .item_block_right-page-currency 01
                        .item_block_right-rectangle
                        .item_block_right-page-count 05
        .item
            img.item_img(src="/images/slider.png")
            .item_block_center
                .item_block_center-title Murano specchio
                a.item_block_center-little-title смотреть коллекцию
            .item_block_left
                    .item_block_left-title Ванные комнаты
                    a.item_block_left-link(href="#") открыть галерею
            .item_block_down
                a(href="#main-two")
                    img.item_block_down-img(src="/images/slider-button-down.png")
            .item_block_right
                        .item_block_right-page-currency 02
                        .item_block_right-rectangle
                        .item_block_right-page-count 05

mixin block_first()
    .main_block.block-first#main-one
        img(src="/images/main-first.png")
        .main_block_content
            .main_block_content-title Каменная мозаика
            .main_block_content-text Камень может согревать или дарить прохладу, сделать дом светлее или создать уютный полумрак, служит нейтральным фоном или обращать на себя все внимание. Работая с камнем, мы не лишаем его характера - лишь бережно приручаем, создавая мозаику и украшая ею  ваш интерьер.
            a.main_block_content-link(href="production.html") Смотреть коллекции

mixin block_two()
    .main_block.block-two#main-two
        .main_block_content
            .main_block_content-title Стеклянная мозаика
            .main_block_content-text Стекло – хрупкий материал, не терпящий небрежного и грубого отношения к себе. Но когда его касаются уверенные руки профессионала, оно превращается  в произведение искусства.
            a.main_block_content-link(href="production.html") Смотреть коллекции
        img(src="/images/main-two.png")

mixin block_free()
    .main_block.block-free
        img(src="/images/main-free.png")
        .main_block_content
            .main_block_content-title Комбинированная мозаика
            .main_block_content-text Стекло и камень, декоративное покрытие, орнаменты  и нестандартные формы – все это декоративная мозаика Art&Natura. Множество молодых и опытных дизайнеров, руководствуясь мировыми тенденциями в области дизайна  и архитектуры, приняли участие в ее создании – чтобы Ваш интерьер стал неповторимым.
            a.main_block_content-link(href="production.html") Смотреть коллекции


mixin block_fo()
    .main_block.block-fo
        img(src="/images/main-fo.png")
        .main_block_content
            .main_block_content-title Матричные панно
            .main_block_content-text Основные преимущества матричного панно по сравнению с художественным  – короткие сроки изготовления и более низкая стоимость. При этом дизайнерские возможности матричного панно  так же безграничны.
            a.main_block_content-link(href="production.html") Смотреть коллекции


mixin block_five()
    .main_block.block-five
        .main_block_content
            .main_block_content-title Панно на заказ
            .main_block_content-text В миг, когда встречаются искусство, мастерство и безупречный материал, рождается шедевр. Частичка за частичкой, деталь  за деталью - умелые руки мастеров мозаичной студии. Art&Natura создают индивидуальные панно по вашему эскизу.
            a.main_block_content-link(href="production.html") Смотреть коллекции
        img(src="/images/main-five.png")

mixin block_six()
    .main_block.block-six
        img(src="/images/main-six.png")
        .main_block_content
            .main_block_content-title Зеркала ручной работы
            .main_block_content-text Зеркало ручной работы мозаичной студии Art&Natura – это не просто отражающая поверхность, это произведение искусства, предмет вашего интерьера с большими декоративными возможностями.
            a.main_block_content-link(href="production.html") Смотреть коллекции

mixin mobile_block()
    .main_block_mobile
        .main_block_mobile-item
            img(src="/images/main-first.png")
            .main_block_mobile-item_content
                .main_block_mobile-item_content-title Каменная мозаика
                .main_block_mobile-item_content-text Камень может согревать или дарить прохладу, сделать дом светлее или создать уютный полумрак, служит нейтральным фоном или обращать на себя все внимание. Работая с камнем, мы не лишаем его характера - лишь бережно приручаем, создавая мозаику и украшая ею  ваш интерьер.
                a.main_block_mobile-item_content-link(href="production.html") Смотреть коллекции

        .main_block_mobile-item
            img(src="/images/main-two.png")
            .main_block_mobile-item_content
                .main_block_mobile-item_content-title Стеклянная мозаика
                .main_block_mobile-item_content-text Стекло – хрупкий материал, не терпящий небрежного и грубого отношения к себе. Но когда его касаются уверенные руки профессионала, оно превращается  в произведение искусства.
                a.main_block_mobile-item_content-link(href="production.html") Смотреть коллекции

        .main_block_mobile-item
            img(src="/images/main-free.png")
            .main_block_mobile-item_content
                .main_block_mobile-item_content-title Комбинированная мозаика
                .main_block_mobile-item_content-text Стекло и камень, декоративное покрытие, орнаменты  и нестандартные формы – все это декоративная мозаика Art&Natura. Множество молодых и опытных дизайнеров, руководствуясь мировыми тенденциями в области дизайна  и архитектуры, приняли участие в ее создании – чтобы Ваш интерьер стал неповторимым.
                a.main_block_mobile-item_content-link(href="production.html") Смотреть коллекции

        .main_block_mobile-item
            img(src="/images/main-fo.png")
            .main_block_mobile-item_content
                .main_block_mobile-item_content-title Матричные панно
                .main_block_mobile-item_content-text Основные преимущества матричного панно по сравнению с художественным  – короткие сроки изготовления и более низкая стоимость. При этом дизайнерские возможности матричного панно  так же безграничны.
                a.main_block_mobile-item_content-link(href="production.html") Смотреть коллекции

        .main_block_mobile-item
            img(src="/images/main-five.png")
            .main_block_mobile-item_content
                .main_block_mobile-item_content-title Панно на заказ
                .main_block_mobile-item_content-text В миг, когда встречаются искусство, мастерство и безупречный материал, рождается шедевр. Частичка за частичкой, деталь  за деталью - умелые руки мастеров мозаичной студии. Art&Natura создают индивидуальные панно по вашему эскизу.
                a.main_block_mobile-item_content-link(href="production.html") Смотреть коллекции

        .main_block_mobile-item
            img(src="/images/main-six.png")
            .main_block_mobile-item_content
                .main_block_mobile-item_content-title Зеркала ручной работы
                .main_block_mobile-item_content-text Зеркало ручной работы мозаичной студии Art&Natura – это не просто отражающая поверхность, это произведение искусства, предмет вашего интерьера с большими декоративными возможностями.
                a.main_block_mobile-item_content-link(href="production.html") Смотреть коллекции
